*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
}
section#gallery{
    position: relative;
    margin: auto;
    width: 1000px;
    height: 200px;
    display: none;
}
section#gallery ul#gallerybox{
    position: relative;
    width: 935px;
    margin: auto;
    top: 18px;
    height: 262px;
    background-color: white;
    box-shadow: 0px 0px 30px #222;
}
section#gallery ul#gallerybox li div{
    position: absolute;
    opacity: 0;
    right: 16px;
    top: 22px;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
}




section#gallery ul#gallerybox li label img{
    width: 151px;
    height: 72px;
}
section#gallery ul#gallerybox li div img{
    height: 224px;
    width: 735px;
    /* position: relative; */
}
section#gallery ul#gallerybox li div h1{
    position: absolute;
    z-index: 1;
    top: 5px;
    left: 20px;
    color: white;
    font-weight: 100;
}
section#gallery ul#gallerybox li div p{
    position: absolute;
    z-index: 1;
    bottom: 4px;
    background-color: rgba(0,0,0,0.4);
    color: white;
    width: 100%;
    line-height: 60px;
    padding-left: 20px;
}
section#gallery ul#gallerybox li div#gallery0{
    opacity: 1;
}
section#gallery ul#gallerybox li label{
    position: relative;
    z-index: 3;
    width: 151px;
    height: 72px;
    top: 22px;
    left: 15px;
    margin: 2px 0;
    cursor: pointer;
}
section#gallery ul#gallerybox li input{
    display: none;
}
input#button1:checked ~ #gallery1{
    opacity: 1;
    z-index: 1;
}
input#button2:checked ~ #gallery2{
    opacity: 1;
    z-index: 1;
}
input#button3:checked ~ #gallery3{
    opacity: 1;
    z-index: 1;
}