*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
}
section#gallery{
    position: relative;
    margin: auto;
    width: 1000px;
    height: 200px;
    background-color: white;
}
section#gallery ul#gallerybox{
    position: relative;
    width: 935px;
    margin: auto;
    top: 18px;
    height: 262px;
    background-color: white;
    box-shadow: 0px 0px 30px #222;
}





section#gallery ul#gallerybox li label img{
    width: 150px;
    height: 80px;
}
section#gallery ul#gallerybox li div img{
    height: 200px;
    width: 100%;
}