html{
    box-sizing: border-box;
}
body{
    background-color: rgb(215, 255, 239);
    color: #0a0a23;
}
section{
    border: 5px solid rgb(0, 156, 135);
    height: 100%;
    margin: 15px auto;
    width: 90%;
    max-width: 900px;
}

/*Calendar Start At This Point*/

.Calendar{
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 10px;
    border-collapse: collapse;
    width: 80%;
    max-width: 800px;
    min-width: 450px;
    height: 350px;
    margin-bottom: 20px;
    table-layout: fixed;
}
#Calendar-Jan h1{
    text-align: center;
    font-size: 40px;
    margin: 10px 0;
}
.Calendar > tbody  td{
    text-align: center;
    font-weight: bold;
}
.Calendar thead th, .Calendar caption, .Calendar td{
    border: 2px solid rgb(116, 123, 128);  
}
.Calendar thead th{
    background-color: rgb(223, 223, 223);
}
.Calendar caption{
    background-color: white;
    height: 35px;
    font-weight: bold;
    font-size: 30px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: 0;
}
 .Calendar tbody td:hover:not(.february){
    background-color: aquamarine;
    cursor: pointer;
 }
 .Calendar tbody td:active:not(.february){
    background-color: rgb(0, 178, 119);
    cursor: pointer;
 }
 .february{
    color: grey;
 }
 .february:hover{
    background-color: bisque;
    color: black;
    cursor: pointer;
 }
 .february:active{
    background-color: rgb(222, 180, 128);
    color: black;
    cursor: pointer;
 }

 /*Balance Sheet Start At This Point*/
 
 .sr-only{
    border: 0 !important;
  clip: rect(100px, 100px, 100px, 100px) !important;
  clip-path: inset(50%) !important;
  -webkit-clip-path: inset(50%) !important;
  height: 100px !important;
  width: 100px !important;
  position: absolute !important;
  overflow: hidden !important;
  white-space: nowrap !important;
  padding: 0 !important;
  margin: -1px !important;
 }
