*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.color-changing{
    background-color: red;
    animation: change 5s ease-in-out infinite;
}
div{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 20px auto;
    transform-origin: 0% 0%;
}
main hr{
    margin-top: 50px;
}
.jumping{
    background-color: blanchedalmond;
    animation: jump 1s linear infinite;
}
.rotation{
    background-color: aqua;
    margin-top: 15%;
    border-radius: 8%;
    animation: rotate 5s linear infinite;
    transform-origin: 50% 50%;
}
.scaling{
    margin-top: 100px;
    background-color: brown;
    animation: scaling 5s infinite linear;
}
@keyframes change{
    0%{
        
    }
    25%{
        background-color: yellow;
    }
    50%{
        background-color: aqua;
    }
    75%{
        background-color: navy;
    }
    90%{
        background-color: blueviolet;
    }
}
@keyframes jump {
    0%{
        translate: 0% 0%;
    }
    25%{
        translate: 0% 10%;
    }
    50%{
        translate: 0% 18%;
    }
    75%{
        translate: 0% 10%;
    }
    90%{
        translate: 0% 5%;
    }

}
@keyframes rotate {
    0%{
        rotate: 360deg;
    }
    25%{
        rotate: 90deg;
        background-color: green;
    }
    50%{
        rotate: 180deg;
        background-color: yellow;
    }
    75%{
        rotate: 90deg;
        background-color: orange;
    }
    90%{
        rotate: 45deg;
        background-color: red;
    }
    100%{
        rotate: 0%;
    }
}
@keyframes scaling {
    0%{
        transform: scale(1);
        background-color: brown;
    }
    50%{
        transform: scale(1.5) ;
        background-color: beige;
    }
    100%{
        transform: scale(1) ;
        background-color: brownbeige;
    }
}