h1,h2, p{
    text-align: center;
    margin: 15px 0;
}
p{
    color: white;
    font-weight: 800;
}
/*class below it's use to make the text black for the section Linear Gradient*/
.below{
    color: black;
}
/*Creating a Box to contain the differents secctios*/
.containers{
    border: 2px solid black;
    height: 200px;
    margin: 10px 0;
}
/*Make the containers larger for linear gradient section*/
.large{
    border: 2px solid black;
    height: 100%;
    margin: 10px 0;
}
/*Rectangle to contain the differents colors*/
.rectangle{
    width: 250px;
    height: 25px;
    margin: 10px auto;
}
/*Colors with name*/
.one{
    background-color: red;
}
.two{
    background-color: green;
}
.three{
    background-color: blue;
}
/*Colors with RGB (Red, Green, Blue)*/
.rgb1{
    background-color: rgb(255,115,127);
}
.rgb2{
    background-color: rgb(75, 11, 164);

}
.rgb3{
    background-color: rgb(127,255,150);

}
/*Colors with RGBA (Red, Green, Blue, Alpha Channel)*/
.rgba1{
    background-color: rgba(56,24,43,0.5);
}
.rgba2{
    background-color: rgba(80,128,200,30%);
}
.rgba3{
    background-color: rgba(68,64,18,0.8);
}
/*Colors with HSL (Hue, Saturation, Lightness)*/
.hsl1{
    background-color: hsl(186, 76%, 16%);
}
.hsl2{
    background-color: hsl(126, 56%, 8%);
}
.hsl3{
    background-color: hsl(100, 78%, 25%);
}
/*Colors with HSLA (Hue, Saturation, Lightness, Alpaha Channel)*/
.hsla1{
    background-color: hsla(203, 100%, 36%, 0.8);
}
.hsla2{
    background-color: hsla(255, 55%, 19%, 0.3);
}
.hsla3{
    background-color: hsla(55, 22%, 55%, 60%);
}
/*Colors with Hex Code*/
.hex1{
    background-color: #d9534f;
}
.hex2{
    background-color:#bb2649 ;
}
.hex3{
    background-color:#ac4ea5  ;
}
/*Linear-gradient secciton making circles with different angles and 2+ colors*/
.circle{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 10px auto;
}
/*Linear-gradient secciton making squares with different angles and 2+ colors and giving them starting values*/
.square{
    height: 100px;
    width: 100px;
    border-radius: 8px;
    margin: 10px auto;
}
/*Gradient Cirles*/
.cOne{
    background: linear-gradient(90deg, #003153, #007474);
}
.cTwo{
    background: linear-gradient(180deg, rgb(145, 9, 52),rgb(219, 119, 151) );
}
.cThree{
 background: linear-gradient(45deg, hsl(55, 26%, 80%),hsl(55, 76%, 55%),hsl(28, 83%, 49%));   
}
/*Gradient Square*/
.sOne{
    background: linear-gradient(60deg, #003153 15%, #bb2649 75%);
}
.sTwo{
    background: linear-gradient(270deg, rgb(145, 9, 52) 60%,rgb(34, 111, 206) );
}
.sThree{
 background: linear-gradient(45deg, hsl(0, 74%, 57%) 40%,hsl(227, 76%, 55%) 55%,hsl(84, 83%, 49%) 100%);   
}
/*Creating the marker main body*/
.marker{
    width: 250px;
    height: 35px;
    margin: 15px auto;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
/*Coloring each marker with gradient to have a sort of refelction*/
.mOne{
    background: linear-gradient(#374d06, #00e022, #007413);
    box-shadow: 0 0 20px 0px #14c904;
}
.mTwo{
    background: linear-gradient(rgb(86, 55, 86), rgb(255, 0, 179), rgb(93, 0, 45));
    box-shadow: 0 0 20px 0px hsl(294, 78%, 53%);
}
.mThree{
    background: linear-gradient(hsl(223, 56%, 18%), hsl(192, 100%, 50%), hsl(257, 80%, 18%));
    box-shadow: 0 0 20px 0px rgb(0, 217, 255);
}
/*Sleeve it's use to create the white rectantle*/
.sleeve{
    width: 165px;
    height: 35px;
    background-color: rgba(255, 255, 255, 0.3 );
    border-left: 10px double black;
}
/*Cap it just to take some space and push the sleeve to the right*/
.cap{
    width: 65px;
    height: 35px;
}
.cap, .sleeve{
    display: inline-block;
}