*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: sans-serif;
}
/* Accordion Menu */
#accordion input{
    display: none;
}
#accordion label{
    display: block;
    width: 100%;
    line-height: 50px;
    text-align: center;
    background-color: rgb(186, 214, 200);
    border: 1px solid darkblue;
    cursor: pointer;
}
#accordion img{
    height: auto;
    width: 40%;
    padding: 0% 5%;
}
#accordion h1{
    padding: 5%;
}
#accordion p{
    width: 90%;
    padding: 5%;
    text-align: justify;
}
#accordion div{
    position: relative;
    height: 0px;
    overflow: hidden;
    transition: height 0.5s;
}
#accordion input#block1:checked ~ #container1{
    height: 420px;
}
#accordion input#block2:checked ~ #container2{
    height: 420px;
}
#accordion input#block3:checked ~ #container3{
    height: 420px;
}
#accordion input#block4:checked ~ #container4{
    height: 450px;
}